@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Poppins:wght@600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}


body {

  background-color: #f0f0f0;
  /* overflow-x: hidden; */
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  scrollbar-width: thin;
  -moz-osx-font-smoothing: grayscale;
  /* background-image: linear-gradient(to bottom right, #f1f1f1, #f7f1f1); */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}